{% extends 'base.html' %}

{% block body %}
<div class="form">
    <form method="POST">
        {{ form.hidden_tag() }}  <!-- CSRF ochrana -->

        <label for="name">Jméno</label>
        {{ form.name(size=32) }}  <!-- Pole pro jméno -->

        <label for="birth_date">Datum narození</label>
        {{ form.birth_date() }}  <!-- Pole pro datum narození -->

        <label for="email">Email</label>
        {{ form.email(size=32) }}  <!-- Pole pro e-mail -->

        <input type="submit" value="Odeslat">
    </form>
</div>
{% endblock %}