{% extends 'base_html' %}

{% block head %}
<title>Formulář</title>
{% endblock %}

{% block body %}
<div class="form">
    <form action="/form" method="POST">
        <label for="name">Vaše méno</label>
        <input type="text" name="name" id="name"><br>
        <label for="name">Vaše datum narození</label>
        <input type="text" name="birth_date" id="birth_date">
        <label for="name">Váš email</label>
        <input type="text" name="email" id="email">
        <input type="submit" value="Odeslat">
    </form>
</div>
{% endblock %}