{% extends 'base.html' %}

{% block head %}
<title>Databáze</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center;">Uživatelé</h1>
    {% if tasks|length < 1 %}
    <h4 style="text-align: center;">Zatím žádné záznamy, přidejte jeden!</h4>
    {% else %}

    <table class="table-content">
        <tr>
            <th>jméno</th>
            <th>datum narození</th>
            <th>email</th>
            <th>datum vytvoření</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td>{{ task.content }}</td>
            <td>{{ task.date_created.date() }}</td>
            <td>
                <a href="/delete/{{task.id}}">vymazat</a>
                <br>
                <a href="/update/{{task.id}}">aktualizovat</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
{% endblock %}