{% extends 'base.html' %}

{% block head %}
    <title>Databáze</title>
{% endblock %}

{% block body %}
    <div class="content">
        <h1 style="text-align: center;">Uživatelé</h1>
        {% if records|length < 1 %}
            <h4 style="text-align: center;">Zatím žádné záznamy, přidejte jeden!</h4>
        {% else %}
            <table class="table-content">
                <tr>
                    <th>Jméno</th>
                    <th>Datum narození</th>
                    <th>Email</th>
                    <th>Datum vytvoření</th>
                    <th>Akce</th>
                </tr>
                {% for record in records %}
                    <tr>
                        <td>{{ record.name }}</td>
                        <td>{{ record.birth_date.strftime("%d. %m. %Y") }}</td>
                        <td>{{ record.email }}</td>
                        <td>{{ record.created_at.strftime("%d. %m. %Y %H:%M:%S") }}</td>
                        <td>
                            <form action="/delete/{{ record.id }}" method="post" style="display: inline-block;">
                                <button type="submit" class="button">Vymazat</button>
                            </form>
                            <a href="/update/{{ record.id }}" class="button">Aktualizovat</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
        <div class="add-user">
            <a href="/form" class="button">Přidat uživatele</a>
        </div>
    </div>
{% endblock %}
